{% extends 'default.html' %}

{% block title %} login page. {% endblock %}

{% block content %}

<h1> Acceder ci dessous :</h1>
<div class="container">
  {% if message=='error'%}
  <p class="alert alert-danger"> tous les champs sont obligatoires </p>
  {% elif message== 'failure' or username==None %}
  <p class="alert alert-warning"> username ou password incorrect</p>
  {%endif%}
</div>

<form action="{{url_for('login')}}" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input name=Username type="text" class="form-control"
      id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="Username" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input name=password type="password" class="form-control"
      id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">conserver mes access</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}